<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Médiation culturelle et numérique sur la ville d'Alger et plus principalement sur la Casbah et les monuments qui y sont associés, monuments classés au patrimoine mondial de l'UNESCO.">
    <meta name="author" content="">
    <link rel="icon" href="img/mainicon.png">

    <title>Algiers - Home Page</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/base.css" rel="stylesheet">
    
    <!-- JavaScript pour le menu radial -->
    <script type="text/javascript" src="js/radial/raphael.min.js"></script>
    <script type="text/javascript" src="js/radial/raphael.icons.min.js"></script>
    <script type="text/javascript" src="js/radial/wheelnav.min.js"></script>
    <script type="text/javascript" src="js/radial/my_wheel_en.js"></script>
    
    <!-- CSS pour le menu radial -->
    <link href="css/my_wheel.css" rel="stylesheet">
	
	
	<!-- JavaScript pour changement de langue -->
	<script type="text/javascript" src="js/lang.js"></script>
	
	<!-- Police Logo Alger -->
	<link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet"> 
    
  </head>

  <body>
    <!-- Barre de navigation bootstrap -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top main-navbar">
      <a class="navbar-brand" href="index.php" id="belle-police">Algiers</a>
      <a class="navbar-brand" id="img-mcn" href="index.php">
        <img src="img/mcn_base2.png" class="img-responsive" alt="MCN">
      </a>
      <!-- Carousel Text -->
      <div id="text-carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="container-fluid">
          <div>
            <div class="carousel-inner">
              <div class="carousel-item item-height active">
                <!-- <div class="container"> -->
                <div class="carousel-caption">
                  <p>Did you know? It’s Algiers that gave its name to the country and not the other way.</p>
                </div>
                <!-- </div> -->
              </div>  
                
              <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? Until the 10th century, Algiers was called “Icosium”.</p>
                  </div>
                </div>
              </div>
                
              <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? Napoleon III used to live in one of Algiers’ palaces in the Kasbah.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? In 1716 an earthquake nearly destroyed Algiers. Magnitude 7.5 on the Richter's magnitude scale.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? It’s in the 10th century that Algiers was founded, under the noun of “El-Djazaïr”.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? Algiers used to be the capital of ‘free France’ between 1942 and 1944.</p>
                  </div>
                </div>
              </div>
                <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? Algiers is the first Maghreb agglomeration (approximately 8 million inhabitants).</p>
                  </div>
                </div>
              </div>
                <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Did you know? From the 16th century till the 19th century, the pirate base of Algiers resisted the British navy.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- Controles -->
        <a class="carousel-control-prev" href="#text-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#text-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
	  
	  <button type="button" class="btn btn-danger btn-lg menu-button">Menu</button>
	  
	  <a class="flag-link" href="" role="button" onclick="changeLang('fr')">
	    <img class="flag" src="img/french_flag.svg" alt="Changer la langue en français">
	  </a>
	  
	  <a class="flag-link" href="" role="button" onclick="changeLang('en')">
	    <img class="flag" src="img/english_flag.svg" alt="Changer la langue en anglais">
	  </a>
	  
    </nav>
		
	<!-- Fin Barre de Nav -->
