<div id="all">
    
    
  <main role="main" class="container-fluid" id="my_main">
	<div class="fully">
	  <div id="photo-carousel" class="carousel slide" data-ride="carousel">
	  <!-- Indicators a voir -->
		
		<div class="carousel-inner">
		  <div class="carousel-item item-photo active">
			<img class="img-responsive" src="img/acc/1.jpg" alt="Home page picture 1">
		  </div>
		
		  <div class="carousel-item item-photo">
			<img class="img-responsive" src="img/acc/2.jpg" alt="Home page picture 2">
		  </div>
		  
		  <div class="carousel-item item-photo">
			<img class="img-responsive" src="img/acc/3.jpg" alt="Home page picture 3">
		  </div>
		  
		  <div class="carousel-item item-photo">
			<img class="img-responsive" src="img/acc/4.jpg" alt="Home page picture 4">
		  </div>
		  
		  <div class="carousel-item item-photo">
			<img class="img-responsive" src="img/acc/5.jpg" alt="Home page picture 5">
		  </div>
		</div>
		  
		<!-- Controls -->
		<a class="carousel-control-prev" href="#photo-carousel" role="button" data-slide="prev">
		  <span class="carousel-control-prev-icon carousel-icon" aria-hidden="true"></span>
		</a>
		<a class="carousel-control-next" href="#photo-carousel" role="button" data-slide="next">
		  <span class="carousel-control-next-icon carousel-icon" aria-hidden="true"></span>
		</a>
	  </div>
	
	</div>

	<!-- Menu Circulaire -->
	<div id='piemenu' data-wheelnav
	 data-wheelnav-slicepath='DonutSlice'
	 data-wheelnav-spreader data-wheelnav-spreaderpath='PieSpreader'
	 data-wheelnav-rotateoff
	 data-wheelnav-navangle='270'
	 data-wheelnav-cssmode 
	 data-wheelnav-init>
	  <div data-wheelnav-navitemtext='Places to visit' onmouseup='window.location.href = "monuments.php";' ></div>
	  <div data-wheelnav-navitemtext='Map' onmouseup='window.location.href = "carte.php";'></div>
	  <div data-wheelnav-navitemtext='About Us' onmouseup='window.location.href = "a_propos.php";'></div>
	  <div data-wheelnav-navitemtext='Gallery' onmouseup='window.location.href = "photos.php";'></div>
	</div>
  
  </main>
</div>
