	<hr>
	<div class="container">
	  <div class="row row-offcanvas row-offcanvas-right">
		<!-- <DEFAUT> -->
		
		<div id="offcanvas-base" class="col-12 col-md-9 offcanvas-dynamic-content-active">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
			<h2>ALGIERS</h2>
			<p>Algiers is the capital city of Algeria, it's spread over 143 miles with 2,3 million inhabitants. 
			Sometimes called “Algiers the White” because of its mostly white French architectural surroundings,
             built during the French colonial administration from 1830 to 1962. The town is also well known for its 
			 rich architecture and its many alleys and dead ends making it a labyrinth filled with stories and whose 
			 sea air gives it this particular charm.</p>

<img class="monu img-responsive img-responsive" src="img/monuments/alger.jpg" >

		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Currency</h3>
			  <p>Algeria’s currency is the Algerian dinar (DA/DZK), 100 DA equals 0.86 USD approximately. And 1 USD is equivalent to 116.5 DA. 
				So for your trip, here is a little example of how much a day in Algiers costs for one person:
				</p>
			  
			  
			    <p>
					<ol>
						<li>500 to 1500 DA (so from 4.3 à 13 USD) for a meal.</li>
						<li>6000 to 8000 DA (51.5 to 68.5) for a nice hotel room (****)</li>
						<li>100 to 500 DA (0.86 to 4.3 USD) for a ride in taxi to downtown.</li>
						<li>And most of the museum’s ticket prices cost 200 DA only, which equals to 1.72 USD</li>
					
					
					</ol>
			    
			    </p>
				
			 
			</div><!--/span-->
			<div class="col-12">
			  <h3>Time Zone</h3>
			  <p>Algeria is at GMT+1, so it’s 5 hours earlier than Washington, District of Columbia in the United States.</p>
			  

			</div><!--/span-->
			
			
			<div class="col-12">
			  <h3>Climate</h3>
			  <p>Algeria has got a Mediterranean climate. Which means that during summer it’s hot and dry while 
			  during winter it’s mild and the temperatures don’t drop below 50 Fahrenheit. </p>
			  
			 
			    <p>Nevertheless, note that during winter it can rain quite hard. That’s why it 
			    is recommended to visit Algiers during spring or in autumn, so that you can enjoy 
			    the sea and a nice weather. </p>
				
			</div><!--/span-->
			<div class="col-12">
			  <h3>Papers</h3>
			  <p>To visit Algiers, you need to pay a 160 USD fee to your embassy for the visa in the US.
			   And since it's different for each country, please check with your embassy for the time expiration of a visa.</p>
			  
			</div><!--/span--> 
			
			<div class="col-12">
			  <h3>Telephone calls</h3>
			  <p>A small and useful recap on how to call from Algeria and to Algeria during your stay :</p>
			  
			  <div class="container hidden-div" id="div14">
			    <p>
					<ol>
						<li>To call from a cell phone to another cell phone in Algeria: enter the number normally. Ex : 06 _ _ _ _ _ _ _ _</li>
						<li>To call a phone in Algeria: enter the number with 021 before for Algiers for example. </li>
						<li>To call in Algeria from abroad: enter the number with 00 213 21 before if you want 
						to call a phone in Algiers, just change the 21 for another town. For a cell phone, it’s 
						the same but just take out the 21 and only enter 00 213 before, 213 standing for Algeria.</li>
						
					
					
					</ol>
			    
			    
			    
			    
			    
			    </p>
			    
			    
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div14');">See More >></a></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
		<!-- CASBAH -->
		
		<div id="offcanvas-casbah" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Kasbah</h2>
			<p>The Kasbah is one of the most prestigious “Algerian urban ensembles”. It’s the part of Algiers 
			that brings together the essentials of vernacular architectural achievements. It has always been 
			inhabited, and mostly by indigenous people. The way its houses were built follows Algiers’ way of 
			life. And its fame goes beyond Algeria’s borders. Because of its location, the Kasbah’s atypical 
			architecture and role in the history of the Mediterranean basin.  </p>
<img class="monu img-responsive img-responsive" src="img/monuments/casbah/place.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Kasbah through time</h3>
			  <p>The Algerian capital city was for a long time in the middle of a lot of 
			  exchanges and trade, thanks to its closeness to the Mediterranean Sea. </p>
			  
			  <div class="container hidden-div" id="div21">
			    <p>
					<h4>ANTIQUE PERIOD</h4>
					<ol>
						<li>According to historians, Algiers was built during the 6th century BC.</li>
						<li>And because of Carthage’s fall in 146 BC, the city became a member of the kingdom of Berber of Mauretania.</li>
						<li>During the Roman colonization in the 1st century BC, its name became “Icosium” in Latin.</li>
						<li>And when the Roman Empire fell, Algiers took part in a civil war that last until the 6th century.</li>
					</ol>
					
						<h4>MIDDLE AGES</h4>
					<ol>


						<li>During the 10th century, the city was rebuilt on its ruins and was renamed “El Djazair”, which means blessed Mezghana.</li>
						<li>At the end of the 13th century, Algiers became a fortress with battlements.</li>
						
						
					</ol>
					
					<h4>OTTOMAN PERIOD</h4>
					<ol>
						<li>Algiers become the capital city of central Maghreb in 1518. Thanks to 
						that the city is in the middle of an unprecedented economic boom under the 
						influence of the Ottoman Empire. </li>
						<li>We can note that in 1516 was the start of the Kasbah’s construction.</li>
					</ol>
					
					<h4>UNDER THE FRENCH ADMINISTRATION (1830)</h4>
					<ol>
						<li>It’s at that time that a huge change took place because of the policy of major development 
						and renovation ordered by the French in the area of the Kasbah. Especially in the lower part of the medina.</li>
						
					</ol>
					
			    
			    </p>
				
			
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div21');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Kasbah's Town Planning</h3>
			  <p>The Kasbah has undergone major changes that have divided it into three areas, more or less homogeneous of unequal importance.</p>
			  
			  
			    <p><ol>
						<li>The Upper Kasbah, the biggest part, has the largest amount of houses that were built before 1830.</li>
						<li>The Lower Kasbah, close to the sea is the most commercial area. It was the most coveted and therefore 
						suffered a lot of the transformations. It concentrates most buildings made under the French administration.</li>
						<li>The harbor district, where only a small islet of old houses, in a state of disrepair, and two mosques 
						still testify the old limits of the city that extended to the sea.</li>
					</ol></p>
				
			  
			</div><!--/span-->
			<div class="col-12">
			  <h3>Kasbah and its architecture</h3>
			  <p>The Kasbah, it is 1700 houses, 1200 which are traditional with 60 000 inhabitants. 90% of the buildings are private property.</p>
			  
			  <div class="container hidden-div" id="div23">
			    <p>Nevertheless with the many deteriorations of the time that has suffered the Kasbah, 
			    renovations are necessary. Especially since the Kasbah is located in a seismic zone, 
			    there were indeed 30 shocks between the 14th and 19th century. Especially that one in 
			    1716 that made more than 20 000 victims and nearly destroyed the whole area. Also, 
			    the medina extends over an area of 60 ha for 45 ha of buildings. The majority of homes have a personal well.

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/puit.jpg" >

					<h4>ARCHITECTURAL COMPONENTS</h4>
					<ol>
						<li>Street: Some have said that "The relief elements naively reflect the plan of the house", 
						that’s why the facades of the streets of the Kasbah by joining, reflect cohesion and stability.
<img class="monum img-responsive img-responsive" src="img/monuments/casbah/rue.jpg" >
</li>
						<li>Typical plan of houses of the Kasbah</li>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/1.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/2.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/3.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/4.jpg" ></p>
						
						<img class="mo img-responsive img-responsive" src="img/monuments/casbah/5.jpg" >
						
						
						
						
						
						<li>Houses: The houses of the Kasbah have the characteristic of being patio houses, 
						this is explained by the way of life of the inhabitants. Generally we enter a house 
						under a stone arch before crossing a hall called "skiffa" 

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/sqifa.jpg" >


before landing on the patio also called "Wast Ed Dar".

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/wast.jpg" >

And on each side of the outer courtyard we find rooms called "Chorfa". The rooms on the
 first floor are called "Fouqani" and that one on the lower level "Sefkani". A traditional 
 house always has two levels. While climbing, one falls on a terrace known as "Minzah" generally giving on the sea. 

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/terrasse.jpg" >

It can serve as a place of relaxation, rest. Whether it is a palace or a modest house, 
all the dwellings of the Kasbah follow this pattern. With obviously more elaborate 
decorations according to the wealth of the people living in. And a fountain in addition 
to the center of the patio for example for the palaces. 

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/fontaine.jpg" >

Also next to the main house can be found a little house called "Dwera", 
connected by a door. It was usually the place of residence of servants, 
eldest son or mistresses.</li>
				
					
						
					</ol>

					
			    
			    
			    
			    
			    </p>
				<!-- Mettre ICI le contenu caché -->
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div23');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  
			  
			  
			  <div class="container hidden-div" id="div24">
			    <p></p>
				
			  </div>
			  <p></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
	
		<!-- FIRST -->
		<div id="offcanvas-1" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Dar Khedaoudj el Amia</h2>
			<p>The Museum of Popular Arts and Traditions is located in the old city of Algiers, the Kasbah. 
			It is more precisely in the lower part of the Kasbah in the neighborhood of Souk-el-Djmâa. 
			This beautiful dwelling is full of legends and myths, and is a link between generations, 
			helping the glowing culture and history of the Kasbah of Algiers to be preserved.</p>
<img class="monu img-responsive img-responsive" src="img/monuments/el_amia/el_amia_musee.jpg" >

		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>History</h3>
			  <p>The museum is located within an ancient palace built in the 1570s under the Ottoman Empire.
			   It is named “Dar Khedaoudj el Amia”, in other words, “the Palace of Khedaoudj the blind”.</p>
			  
			  <div class="container hidden-div" id="div31">
			    <p>
					<h4>About its name...</h4>
					
					The building remains linked to the legend of its ancient proprietress who gave it its name.
					 The legend says that Khedaoudj, an Ottoman princess, received one day from Hassan Khaznadji 
					 the treasurer, a mirror that he acquired during his travels. The mirror, although simple, 
					 became the favorite companion of the princess and it was with it that she spent her days. 
					 She gazed into the mirror, changing clothes and hairstyles constantly. 
					 It was said of Khedaoudj that her beauty was incomparable. As the days went by, the princess 
					 was finding herself becoming more and more beautiful, and her narcissism grew, but so did the pain 
					 in her eyes. And one day the princess, instead of seeing her reflection in the mirror,
					  saw nothing but emptiness and total darkness. She had lost her sight. It was indeed her love 
					  for her own reflection that made her blind. That's where “the Palace of Khedaoudj the blind” 
					  gets its name from, built by the father of the princess, to protect her from the rest of the world.
					   It may be noted that there is an another version of the legend, more prosaically, which tells 
					   that the blindness of the princess would have been caused by the kohl, a mineral powder used
					    in cosmetics, formerly to emphasize the outline of the eye. This powder would have, indeed,
					     infected her eye until she lost her sight. It was common because of the 
					     presence of lead sulfide in kohl.</p>
			    
			    <p>
			    <h4>About its many owners …</h4>
			    
			    Passing from owners to owners over the years, the French invasion of Algeria in 1830 put an 
			    end at this circle. In fact, the same year, the owners of the place were dislodged and the 
			    palace becomes the seat of the first French town hall in Algiers. It follows architectural 
			    changes, especially at the level of the western part. But from 1860, Napoleon III falls in 
			    love with the sumptuous palace and decides to elect residence there with his wife Eugénie, 
			    during all his passages in Algeria. In 1947, the palace is once again modified to serve as
			     a place of conservation of crafts. Then in 1961, it becomes the museum of traditional arts
			      and permanent lounge for craft workshops and old crafts. Finally, in 1987, it becomes the
			       national museum of arts and popular traditions that we know today.</p>

				
			    
			    </p>
				
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div31');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>Up to our own times, and despite many renovations and modifications that the palace had known,
			   it managed to preserve an architectural appeal true and authentic.</p>
			  
			  <div class="container hidden-div" id="div32">
			    <p>
					<ol>
						<li>Imposing carved wooden gate</li>
						<li>A hallway called “skifa”</li>
						<li>Twisted marble columns</li>
						<li>Arcades decorated with earthenware in bright colors, “zelaidj”</li>
						<img class="monum img-responsive" src="img/monuments/el_amia/patio.jpg" >
						<li>Room with richly decorated walls revealing refined Moorish art and 
						the artistic level and pomp that characterized the Ottoman era</li>
<img class="monum img-responsive" src="img/monuments/el_amia/coffre.jpg" >
<li>Staircase surmounted by a dome</li>
<img class="monum img-responsive" src="img/monuments/el_amia/escalier.jpg" >
<li>On the top floor there is the "mezah" also called terrace overlooking the seafront</li>
<li>Bath / shower room</li>
<li>Kitchen</li>
<li>Courtyard patio serving four rooms including a re-decorated in 1860 and has a beautiful carved ceiling (floor 1)</li>
<li>Floor 2 = large living room created in 1860 for receptions</li>
<li>Water basin</li>
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div32');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>The exhibits</h3>
			  <p>It is thanks to the efforts of sociologists, architects, state employees, researchers in the field of 
			  the heritage, and of the donations of the citizens, the institutions that the museum has been filled again.
			   The items exhibited in the museum testify of the Algerian know-how through ages. This includes:</p>
			  
			  <div class="container hidden-div" id="div33">
			    <p>Ancient and precious rooms, furniture, weaving works, copperware of different regions of the country.
			     Also, we find there Targuis and Kabyle handcrafts, Algerian furniture, Tlemcen jewels, Adrar carpets, 
			     upholstery fabrics woven from M’zab silk threads and Aurès pieces. What is more, rich artisan collections 
			     of ancient tapestries and an Ottoman state bed.

			<img class="monum img-responsive" src="img/monuments/el_amia/lit.jpg" >

			In addition, there are kitchen ustensils and vintage clothing. The central piece of the museum is also 
			dedicated to a collection of period mirrors elaborately worked and decorated that are reminiscent of
			 those of the ancient princess of this palace.</p>
			 
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div33');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Useful Information </h3>
			  <p>We recommend yourself to place this museum at the beginning of your tour, because the opening and closing hours are relatively early.</p>
			  
			  <div class="container hidden-div" id="div34">
			    <p>
					<ol>
						<li>Address: 9 Mohamed Akli Malek Street, Souk El Jemaa, Lower Casbah, Kasbah, 16000, Algiers, Algeria.</li>
						<li>Phone: +213 021 43 99 08</li>
						<li>Opening dates: From April 18th to October 30th, the museum is open from Saturday to Thursday, 
						from 10am to 5:45 pm. From November 2 to April 17, the museum is open from Saturday to Thursday from 8:30 to 16:15.</li>
						<li>Price: Admission for adults costs 200 dinars = 1.72 USD. Admission is free for children.</li>
						<li>Language: Most explanations are in English</li>
						<li>Email : contact@mnatp-algerie.org</li>
						<li>Facebook Page: https://www.facebook.com/mnatpDZ</li>
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div34');">See More >></a></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
		<!-- SECOND -->
		
		<div id="offcanvas-2" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Ketchaoua Mosque</h2>
			<p>The Ketchaoua mosque was built in 1436 by the Rebai tribe. It is located at the level of the lower Kasbah,
			 in the middle of a very dynamic commercial district where one can find a souk full of multiple products. 
			 Its building reflects the history of the city of Algiers, particularly through the different architectural styles it has adopted.</p>
<img class="monu img-responsive img-responsive" src="img/monuments/ketchaoua/facade.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>History</h3>
			  <p>The Ketchaoua mosque is characterized by its many phases of construction and demolition.</p>
			  
			  
			    <p>Indeed, it collapsed 2 centuries after its construction in 1436 and was rebuilt in 1613 before collapsing again. 
			    It ended up being rebuilt again in 1794 under the government of Hassan Pasha, Governor of the Regency of Algiers. 
			    Nevertheless, after the colonization of Algeria by France in 1830, the mosque was once again destroyed a year after 
			    the conquest of the territory.
			    
			    Before being rebuilt again and this time on a surface 5 times bigger than its former surface.
			     It should be noted that at the time of the reconstruction the mosque became under the French influence, the Saint-Philippe 
			     cathedral. When the country became independent in 1962, the building returned to its original mosque function and became
			      a UNESCO World Heritage Site at the same time as the Kasbah.
</p>
				
			
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>Due to its cathedral past, the architecture of the Ketchaoua mosque is imbued with a very European style.</p>
			  
			  <div class="container hidden-div" id="div42">
			    <p>Despite this, the French authorities at the time of its construction wanted a Roman-Byzantine aspect 
			    as well as a touch Turkish-Arab for the old cathedral so that the building could blend well in the city. 
			    Thus, we can also note the basilica form of the building, characteristic of Christian architecture. 
			    With notably a large central nave, a vault etc. From the outside, there is a certain resemblance to 
			    the Gothic churches because of the symmetry of the outer towers overlooking the entrance to the mosque.</p>

						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/ornement.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/porche.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/porte.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/face.jpg" >
							
							<img class="monum img-responsive" src="img/monuments/ketchaoua/devant.jpg" >
							
							
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div42');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Useful Information</h3>
			  <p>The Ketchaoua mosque can be visited outside of prayer hours.</p>
			  
			  <div class="container hidden-div" id="div43">
			 
				
			  </div>
			  
			</div><!--/span-->
			<div class="col-12">
			 
			  
			  
			  <div class="container hidden-div" id="div44">
			    <p></p>
				
			  </div>
			  
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span--> 
		
		<!-- TROISIEME -->
		<div id="offcanvas-3" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Palace of Rais</h2>
			<p>The Palace of Raïs, located in the lower Casbah, represent the last rampart of the Algerian 
			medina before the sea. Symbol of history, architecture and a restored knowledge for the generations 
			to come. It was built in 1576 by Dey Ramdhan Pasha during the Ottoman era, in order to strengthen 
			the defense of the Kasbah. It is called Bastion 23 following the establishment of the ramparts; 
			but also "Quaâ Es Sour" which is the bottom of the rampart, and "Sabaâ" the seven taverns.</p>
<img class="monu img-responsive" src="img/monuments/23/mer.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Organization of the bastion 23</h3>
			  <p>The palace includes three other palaces, the palaces 17, 18 and 23.</p>
			  
			  <div class="container hidden-div" id="div51">
			    <p>Number attributed by the French administration at the time during the census of real estate properties.
			     It also includes, 6 ‘Douérates’ which are the houses of the fishermen (houses 5, 7, 9, 11, 13, 15).
<img class="monum img-responsive" src="img/monuments/23/house_fish.jpg" >
The 15 serves as a "Moussalah" prayer hall.
<img class="monum img-responsive" src="img/monuments/23/prey_15.jpg" >
This represents 7824 m² of total area. The numerous buildings that make up Bastion 23 house libraries, archives, museums, etc. 
Bastion 23 is classified in 1906 as a historic monument under the name "group of Moorish houses" because 
of its architectural particularity. And returned in 1992 to the UNESCO’s universal heritage. 
<img class="monum img-responsive" src="img/monuments/23/lamp_23.jpg" >
We can note the singularity of the geographical location of the palace. 
Indeed, it is located at the crossroads of many unmissable passages of the district, 
is close to transport, parking. This allows a continuous influx of visitors.
<img class="monum img-responsive" src="img/monuments/23/ruelle_fish.jpg" >
</p>
				
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div51');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>History and facts</h3>
			  <p>During the French occupation, after 1830, the palace 18 became the residence of the Rear Admiral 
			  in charge of the management of the port, then a boarding school for young girls and finally, 
			  he acted as consulate for the United States before becoming the residence of the Duke of Aumale,
			   and finally a national library.</p>
			  
			  <div class="container hidden-div" id="div52">
			    <p>In 1962, after independence, the palace is abandoned and many Algerian families 
			    end up squatting, damaging the structure of the building. Not to mention the detrimental
			     effect of the sea and the rain on the foundations of the palace. In the grip of an imminent 
			     collapse, the palace 18 was saved in extremis by the Algerian Ministry of Culture and began
			      in 1980 a process of rehabilitation. The site became in 1994, the Center for Arts and Culture. 
<img class="monum img-responsive" src="img/monuments/23/patio_18.jpg" >
The Museum offers throughout the year, many temporary exhibitions and shows on its terrace open to the sea.
 The palaces 17 and 23 less sumptuous, previously intended for servants now host exhibitions of photos,
  statues, paintings of local artists and of the whole world.</p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div52');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>To immerse the visitor in the atmosphere of the great Ottoman palaces, photographs of daily scenes are exposed,
			   emblematic places of the Kasbah and models of the neighborhood as well.</p>
			  
			  <div class="container hidden-div" id="div53">
			    <p>
					<ol>
						<li>patio (wast eddar)</li>
						<img class="monum img-responsive" src="img/monuments/23/patio_17.jpg" >
						<li>the galleries (shine)</li>
						<li>the rooms (byoute on the ground floor and ghrofs on the upper floor)</li>
						<img class="monum img-responsive" src="img/monuments/23/chambre_18.jpg" >
						<li>bathroom (hammam</li>
						<li>kitchen (khiama)</li>
						<li>terraces (menzah)</li>
						<li>arcs</li>
						<li>marble columns</li>
						<li>wood doors</li>
						<li>earthenware tiles</li>
						<li>pcharacteristic ceilings of Moorish art</li>
						<img class="monum img-responsive" src="img/monuments/23/plafond_23.jpg" >
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div53');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Useful Information</h3>
			  <p>The palace opens every day from 9am to 5pm, every day of the week. 
			  At the rate of 200 dinars per person, or 1.72 USD. It is advisable to start the visit by the palace 18.</p>
			  
			
			    <p>+213 21 43 98 44</p>
<p>Address: Amara Rachid Boulevard 23 Between the Admiralty and El Kettanti Point, near the DGSN ALGIERS</p>
				
		
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span--> 
		
		<!-- QUATRIEME -->
		<div id="offcanvas-4" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">See categories</button>
		  </p>
		  <div class="jumbotron">
		  <h2>Djamâa El Kebir</h2>
			<p>For a long time considered the largest mosque of Algiers, Djamâa el Kebir is located
			 in the lower part of the Kasbah and has been a World Heritage of UNESCO since 1992. 
			 It is one of the oldest mosques in the city of Algiers, built in 1097 in medieval
			  times by the emir Youssef Ibn Tachfin (1061-1106), an Almoravid. </p>
<img class="monu img-responsive" src="img/monuments/kebir/mosq.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>History</h3>
			  <p>The mosque has an impressive view of the bay of Algiers and is one of the last remnants of 
			  the greatnest of the Berber Sanhajian dynasty of the Almoravids. The dynasty extended its influence from 
			  Spain to the Senegal River between 1040 and 1147.</p>
			  
			  <div class="container hidden-div" id="div61">
			    <p>Djamâa el Kebir has remained over generations, a symbol of tolerant Islam that wanted to convey the Almoravid Empire in the Maghreb region. 

Various inscriptions appear on the religious building:</p>
<p>On the Minbar in Kufic graph, for example one can read:</p>
<p>
بسم الله الرحمن الرحيم أتم هذا المنبر في أول شهر رجب من سنة تسعين وأربعمائة. الذي عمل محمد

</p>
<p>Which means:</p>

<p>«  In the name of Allâh, the Clement, the Merciful. This pulpit was completed on the first day of Rajab in the year 490. Work of Muhammad.  »</p>

<p>And near the entrance to the minaret on a white marble plaque, we can find the following inscription:</p>
<p>

بسم الله الرحمن الرحيم، صلى الله على سيدنا محمد لما تمم أمير المسلمين أبو تاشفين أيده الله ونصره منار
الجزائر في مدة أولها يوم الأحد السابع عشر من ذي القعدة من عام اثنين وعشرين وسبعمائة وكان تمامها
في كمالها في غرة رجب عام ثلاثة وعشرين وسبعمائة ناد المنار المذكور بلسان حاله الحالي&quot; أي منار
حاله الحسن كحالي أقام أمير المسلمين تفاحا كساني بها حسنا وتمم بنياني وقابلني بدر السماء وقال لي
عليك سلامي أيها القمر الثاني فلا منظر يسبي نفوسا كمنظري ألا فانظروا حسني وبهجة تيجاني فزاد
نصر الله حول لوائه رفيقا له تال وجيشا له ثاني

</p>
<p>Meaning :</p>

<p>« In the name of Allâh the Clement, the Merciful, may Allâh bless our prophet Muhammad!" 
When the prince of the Muslims, Abû Tâshufîn, may Allah strengthen him and assist him, 
he completed the minaret of Algiers in a period of time which begins on Sunday, 
17 dhil Qi'da of the year seven hundred and twenty-two, ends and ends the first of the 
month of the rajab of the year seven hundred and twenty-three, the aforementioned minaret, 
cried in the language (mute ) about his current situation: "Where is there a minaret with 
beauty comparable to mine? The prince of the Muslims set up apples which he put on me to 
beautify me and completed my construction.  »</p>
				<!-- Mettre ICI le contenu caché -->
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div61');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>The architecture of Djamâa el Kebir is imbued with a simplicity that differentiates it from other mosques of Algiers,
			   with Ottoman characteristics pushed. It is mainly built using brick, stone, tile, based on a wooden frame. One can note 
			   a resemblance with the minbar of the Al Quaraouiyine University of Fes and the Kairouan mosque in Tunisia.</p>
			  
			  <div class="container hidden-div" id="div62">
			    <p>
					<ol>
						<li>Prayer room</li>
						<li>Ceramic decor</li>
						<li>Mihrab</li>
						<li>Minbar</li>
						<li>Broken Horseshoe arcs</li>
						<li>Presence of a system of rails on the ground to move the minbar (oldest in Algeria)
						 from the reserve to the prayer room. The latter is currently in the National Museum of Antiquities 
						 and Islamic Arts.</li>
						<li>Outside Gallery</li>
						
					</ol>
			    
			    Moreover, we can say that the outer gallery is not original and was added in 1836. 
			    Its marble columns are from another mosque that was previously in place of the martyrs 
			    but was destroyed in 1830, the mosque Es Sayida.
			    
			    </p>
			    <img class="monum img-responsive" src="img/monuments/kebir/galerie.jpg" >
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div62');">See More >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Useful Information</h3>
			  <p>The mosque can be visited throughout the day outside of prayer hours.</p>
			  
			  <div class="container hidden-div" id="div63">
			    <p>Test d'apparition 3</p>
				
			  </div>
			  
			</div><!--/span-->
			<div class="col-12">
			 
			  
			  
			  <div class="container hidden-div" id="div64">
			    <p>Test d'apparition 4</p>
				
			  </div>
			  
			</div><!--/span-->  
		  
		  </div><!--/row-->
		</div><!--/span-->

		<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
		  <div class="list-group">
			<a href="#" class="list-group-item dynam active" onclick="clickChoice('#');">Practical information</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#casbah');">Kasbah</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o1');">Dar Khedaoudj el Amia</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o2');">Ketchaoua Mosque</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o3');">Palace of Rais</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o4');">Djamâa El Kebir</a>
		  </div>
		</div><!--/span-->
	  </div><!--/row-->

	
	</div>
	<hr>
    
	<!-- Menu Circulaire -->
    <div id='piemenu' class="radial" data-wheelnav
         data-wheelnav-slicepath='DonutSlice'
         data-wheelnav-spreader data-wheelnav-spreaderpath='PieSpreader'
         data-wheelnav-rotateoff
         data-wheelnav-navangle='270'
         data-wheelnav-cssmode 
         data-wheelnav-init>
          <div data-wheelnav-navitemtext='Places to visit' onmouseup='window.location.href = "monuments.php";' ></div>
          <div data-wheelnav-navitemtext='Map' onmouseup='window.location.href = "carte.php";'></div>
          <div data-wheelnav-navitemtext='About Us' onmouseup='window.location.href = "a_propos.php";'></div>
          <div data-wheelnav-navitemtext='Gallery' onmouseup='window.location.href = "photos.php";'></div>
    </div>
