	<!-- Galerie de Photos -->
    <div class="container gallery-container">

      <h2>Algiers' photo gallery</h2>

        
      <div class="tz-gallery">

        <div class="row">
          <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="img/galerie/Abd_el_tif.jpg" data-caption="courtyard of the villa Abd_El_Tif">
              <img src="img/galerie/Abd_el_tif.jpg" alt="Courtyard Abd">
            </a>
          </div>
          <div class="col-sm-6 col-md-4">
            <a class="lightbox" href="img/galerie/Abd_el_tif2.jpg" data-caption="Door leading to Villa Abd-El-Tif">
              <img src="img/galerie/Abd_el_tif2.jpg" alt="Door Abd">
            </a>
          </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Palais_Bardo.jpg" data-caption="Courtyard of the Bardo Palace">
			  <img src="img/galerie/Palais_Bardo.jpg" alt="Courtyard of the Bardo Palace">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Djamaa.jpg" data-caption="Djama’a al-Djedid">
			  <img src="img/galerie/Djamaa.jpg" alt="Djama’a al-Djedid">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Djamaa_Al_Jdid.jpg" data-caption="Djama’a al-Djedid">
			  <img src="img/galerie/Djamaa_Al_Jdid.jpg" alt="Djama’a al-Djedid during night">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Fontaine_bardo.jpg" data-caption="The fountain in the courtyard of the Bardo Palace">
			  <img src="img/galerie/Fontaine_bardo.jpg" alt="Fountain of the Bardo Palace">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Ketchaoua.jpg" data-caption="Ketchaoua Mosque">
			  <img src="img/galerie/Ketchaoua.jpg" alt="Ketchaoua Mosque">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Martyr.jpg" data-caption="Martyrs' Memorial">
			  <img src="img/galerie/Martyr.jpg" alt="Martyrs' Memorial">
			</a>
		  </div>
		  <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Palais18.jpg" data-caption="View of the lighthouse from the Palace 18">
			  <img src="img/galerie/Palais18.jpg" alt="Bastion 23">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/bum_alger.jpg" data-caption="Morning fog over Algiers">
			  <img src="img/galerie/bum_alger.jpg" alt="Fog over Algiers">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Port.jpg" data-caption="View from the cable car">
			  <img src="img/galerie/Port.jpg" alt="Port of Algiers">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/port_alger.jpg" data-caption="Snow-capped peak of Djurdjura">
			  <img src="img/galerie/port_alger.jpg" alt="Snow-capped peak of Djurdjura">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Sahel.jpg" data-caption="Sunset over the Algerian Sahel">
			  <img src="img/galerie/Sahel.jpg" alt="Sunset over the Algerian Sahel">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Sainte_trinite.jpg" data-caption="Anglican Church of the Holy Trinity">
			  <img src="img/galerie/Sainte_trinite.jpg" alt="Anglican Church of the Holy Trinity">
			</a>
		  </div>
		   <div class="col-sm-6 col-md-4">
			<a class="lightbox" href="img/galerie/Vue_alger.jpg" data-caption="View of Algiers from the High Kasbah">
			  <img src="img/galerie/Vue_alger.jpg" alt="View of Algiers from the High Kasbah">
			</a>
		  </div>
        </div>
        <a id="photo-link" href="https://www.flickr.com/photos/144330620@N04" target="_blank">
      <p align="right">Photographer : Ath Salem</p>
      </a>

      </div>
      
    </div>
	
	<!-- Menu Circulaire -->
    <div id='piemenu' class="radial" data-wheelnav
         data-wheelnav-slicepath='DonutSlice'
         data-wheelnav-spreader data-wheelnav-spreaderpath='PieSpreader'
         data-wheelnav-rotateoff
         data-wheelnav-navangle='270'
         data-wheelnav-cssmode 
         data-wheelnav-init>
          <div data-wheelnav-navitemtext='Places to visit' onmouseup='window.location.href = "monuments.php";' ></div>
          <div data-wheelnav-navitemtext='Map' onmouseup='window.location.href = "carte.php";'></div>
          <div data-wheelnav-navitemtext='About us' onmouseup='window.location.href = "a_propos.php";'></div>
          <div data-wheelnav-navitemtext='Gallery' onmouseup='window.location.href = "photos.php";'></div>
    </div>

	<link href="css/baguetteBox.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/baguetteBox.min.js"></script>
    <script>
	baguetteBox.run('.tz-gallery', {
		buttons: true
	});
    </script>
	<!-- Fin de la galerie de Photos -->
