	<div id="all">		
	  <iframe id="map" src="https://www.google.com/maps/d/embed?mid=1kBYUbJd3xoZDqTs99Mp3r0_moGBmOAJ7"></iframe>
	</div>
	
	<!-- Menu Circulaire -->
    <div id='piemenu' class="radial" data-wheelnav
         data-wheelnav-slicepath='DonutSlice'
         data-wheelnav-spreader data-wheelnav-spreaderpath='PieSpreader'
         data-wheelnav-rotateoff
         data-wheelnav-navangle='270'
         data-wheelnav-cssmode 
         data-wheelnav-init>
          <div data-wheelnav-navitemtext='A visiter' onmouseup='window.location.href = "monuments.php";' ></div>
          <div data-wheelnav-navitemtext='Carte' onmouseup='window.location.href = "carte.php";'></div>
          <div data-wheelnav-navitemtext='A propos' onmouseup='window.location.href = "a_propos.php";'></div>
          <div data-wheelnav-navitemtext='Photos' onmouseup='window.location.href = "photos.php";'></div>
    </div>
