<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Médiation culturelle et numérique sur la ville d'Alger et plus principalement sur la Casbah et les monuments qui y sont associés, monuments classés au patrimoine mondial de l'UNESCO.">
    <meta name="author" content="">
    <link rel="icon" href="img/mainicon.png">

    <title>Alger - Accueil</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/base.css" rel="stylesheet">
    
    <!-- JavaScript pour le menu radial -->
    <script type="text/javascript" src="js/radial/raphael.min.js"></script>
    <script type="text/javascript" src="js/radial/raphael.icons.min.js"></script>
    <script type="text/javascript" src="js/radial/wheelnav.min.js"></script>
    <script type="text/javascript" src="js/radial/my_wheel_fr.js"></script>
	
	<!-- JavaScript pour changement de langue -->
	<script type="text/javascript" src="js/lang.js"></script>
    
    <!-- CSS pour le menu radial -->
    <link href="css/my_wheel.css" rel="stylesheet">
	
	<!-- Police Logo Alger -->
	<link href="https://fonts.googleapis.com/css?family=Joti+One" rel="stylesheet"> 
    
  </head>

  <body>
    <!-- Barre de navigation bootstrap -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top main-navbar">
      <a class="navbar-brand" href="index.php" id="belle-police">Alger</a>
      <a class="navbar-brand" id="img-mcn" href="index.php">
        <img src="img/mcn_base2.png" class="img-responsive" alt="MCN">
      </a>
      <!-- Carousel Text -->
      <div id="text-carousel" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="container-fluid">
          <div>
            <div class="carousel-inner">
              <div class="carousel-item item-height active">
                <!-- <div class="container"> -->
                <div class="carousel-caption">
                  <p>Le Saviez-Vous ? C’est la ville d’Alger qui a donné son nom au pays et non l’inverse.</p>
                </div>
                <!-- </div> -->
              </div>  
                
              <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-Vous ? Jusqu’au Xème siècle, la ville d’Alger se prénommait “Icosium”.</p>
                  </div>
                </div>
              </div>
                
              <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-vous ? Napoléon III avait sa résidence dans un des palais de la Casbah.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-Vous ? En 1716 un séisme a failli détruire la ville d’Alger. Magnitude : 7.5 sur l’échelle de Richter.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-Vous ? C’est au Xème siècle qu’est fondée l’Alger actuelle, sous le nom “El-Djazaïr”.</p>
                  </div>
                </div>
              </div>
               <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-vous ? Alger fut la capitale de la France libre de 1942 à 1944. </p>
                  </div>
                </div>
              </div>
                <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-Vous ? Alger est la 1ère agglomération du Maghreb (environ 8 millions d'habitants).</p>
                  </div>
                </div>
              </div>
                <div class="carousel-item item-height">
                <div class="container">
                  <div class="carousel-caption">
                    <p>Le Saviez-Vous ? Du XVIe au XIXe siècle, la base pirate d'Alger résista face à la marine britannique.</p>
                  </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <!-- Controles -->
        <a class="carousel-control-prev" href="#text-carousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#text-carousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
      </div>
	  
	  <button type="button" class="btn btn-danger btn-lg menu-button">Menu</button>
	  
	  <a class="flag-link" href="" role="button" onclick="changeLang('fr')">
	    <img class="flag" src="img/french_flag.svg" alt="Changer la langue en français">
	  </a>
	  
	  <a class="flag-link" href="" role="button" onclick="changeLang('en')">
	    <img class="flag" src="img/english_flag.svg" alt="Changer la langue en anglais">
	  </a>
    </nav>
		
	<!-- Fin Barre de Nav -->
