	<hr>
	<div class="container">
	  <div class="row row-offcanvas row-offcanvas-right">
		<!-- <DEFAUT> -->
		
		<div id="offcanvas-base" class="col-12 col-md-9 offcanvas-dynamic-content-active">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
			<h2>ALGER</h2>
			<p>Alger est la capitale de l’Algérie, elle s’étend sur une surface de 230 km² avec 2,3 millions habitants.
On la surnomme aussi Alger la Blanche du fait des nombreuses constructions françaises durant la
colonisation qui étaient de couleur blanche.
La ville est connue pour son architecture riche et ses nombreuses ruelles et impasses faisant d’elle un
labyrinthe empreint d’histoires et dont l’air marin lui donne ce charme si particulier.</p>
<img class="monu img-responsive img-responsive" src="img/monuments/alger.jpg" >

		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Monnaie</h3>
			  <p>On utilise en Algérie, le Dinar algérien (DA/DZK), 100 DA équivaut à peu près à 0.80 € et 1€ à 124 DA. 
Pour votre voyage, voici un petit aperçu du tarif d’une journée à Alger pour une personne :</p>
			  
			 
			    <p>
					<ol>
						<li>500 à 1500 DA (environ de 4 à 11€) pour la restauration</li>
						<li>6000 à 8000 DA (soit 44 à 58€) pour une chambre d’hôtel de qualité (****)</li>
						<li>100 à 500 DA (0.72 à 3.62€) pour un trajet en taxi allant au centre-ville</li>
						<li>Et la majorité des musées ont des tickets d’entrée au prix de 200 DA seulement, ce qui
correspond à environ 2.42€</li>
					
					
					</ol>
			    
			    </p>
			
			  
			</div><!--/span-->
			<div class="col-12">
			  <h3>Horaires</h3>
			  <p>Alger est à GMT+1, soit un décalage de moins une heure avec le fuseau horaire français en été. Et
aucun en hiver.</p>
			  
			</div><!--/span-->
			
			
			<div class="col-12">
			  <h3>Climat</h3>
			  <p>Alger possède un climat méditerranéen. En été, il fait relativement chaud et sec mais en hiver, les
températures sont plutôt douces et on ne descend pas en dessous de 10°c.</p>
			  
		
			    <p>Néanmoins notez que les
pluies peuvent être violentes en hiver.
C’est pourquoi il est conseillé d’aller visiter la capitale au printemps ou en automne afin de profiter
de la mer et du beau temps.</p>
			
			  
			  
			</div><!--/span-->
			<div class="col-12">
			  <h3>Administration</h3>
			  <p>Pour visiter Alger, il est nécessaire de faire une demande de visa pour l’Algérie.
Le tarif est de 85€ pour une durée de 90 jours maximum.</p>
			  
			</div><!--/span--> 
			
			<div class="col-12">
			  <h3>Téléphonie</h3>
			  <p>Un récapitulatif pratique de comment téléphoner en et vers l'Algérie pendant votre séjour :</p>
			  
			  <div class="container hidden-div" id="div14">
			    <p>
					<ol>
						<li>Téléphoner depuis un portable vers un autre portable en Algérie : entrez le numéro
normalement. Ex : 06 _ _ _ _ _ _ _ _</li>
						<li>Téléphoner vers un fixe en Algérie : composez le numéro précédé de 021 pour Alger (025
pour Médéa par exemple)</li>
						<li>Téléphoner en Algérie depuis l’étranger : composez le numéro précédé de 00 213 21 si vous
voulez téléphoner vers un fixe à Alger sinon changer le 21 pour l’indicatif d’une autre wilaya.
Vers un portable, c’est la même procédure mais retirer le 21, composez seulement 00 213
(213 étant l’indicatif de l’Algérie), suivi des 6 chiffres du numéro de téléphone.</li>
						
					
					
					</ol>
			    
			    
			    
			    
			    
			    </p>
			    
			    
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div14');">Voir plus >></a></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
		<!-- CASBAH -->
		
		<div id="offcanvas-casbah" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Casbah</h2>
			<p>La Casbah est l’un des prestigieux ensembles urbains algériens. C’est la partie de la capitale
qui regroupe l’essentiel des réalisations architecturales vernaculaires. Elle a de tout temps
été habitée, en majorité par des autochtones. La conception de ses maisons d’inspiration
locale correspond le mieux à la manière de vivre algéroise. 
Son rayonnement dépasse les frontières du pays, du fait du site qu'elle occupe, 
son architecture atypique et son rôle dans l'histoire du bassin méditerranéen. </p>
<img class="monu img-responsive img-responsive" src="img/monuments/casbah/place.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>La Casbah à travers le temps</h3>
			  <p>La capitale algérienne a longtemps été au cœur des échanges et du commerce du fait de sa proximité
avec la mer méditerranée.</p>
			  
			  <div class="container hidden-div" id="div21">
			    <p>
					<h4>ERE ANTIQUE</h4>
					<ol>
						<li>D’après les historiens, la ville d’Alger se serait construite aux alentours du 6 siècle av. JC.</li>
						<li>Et à la chute de Carthage en 146 avant J.C, la ville devient membre du royaume Berbère de
Maurétanie.</li>
						<li>Son nom en latin devient « Icosium » lors de la colonisation romaine au 1 er siècle avant J.C.</li>
						<li>Et lorsque tombe l’empire romain, Alger se livre à une lutte interne interminable jusqu’au 6 e
siècle.</li>
						
						
					</ol>
                    
                    	 	<h4>MOYEN-ÂGE</h4>
					<ol>


						
						<li>Au 10 e siècle, la ville est rebâtie sur ses ruines et porte désormais le nom d’El Djazair « beni
Mezghana ».</li>
						<li>Fin 13 e siècle, Alger est devenue une forteresse avec des remparts.</li>
						<li>Les constructions et la superficie de la ville d’Alger maintenant dépassent largement les
limites d’Icosium.</li>
						
						
					</ol>
					
					<h4>PERIODE OTTOMANE</h4>
					<ol>
						<li>Devenue capitale du Maghreb central en 1518, Alger se retrouve au centre d’un essor
économique sans précédent sous l’influence du puissant empire ottoman.</li>
						<li>On note en 1516, le début de la construction de la citadelle.</li>
					</ol>
					
					<h4>COLONISATION FRANCAISE (1830)</h4>
					<ol>
						<li>C’est l’époque où se mettent en place une politique de grands aménagements et de
rénovations des zones de la Casbah. Et notamment la partie basse de la médina.</li>
						
					</ol>
					
			    
			    </p>
				
			
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div21');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Urbanisme de la Casbah</h3>
			  <p>La Casbah a subi de lourdes modifications qui l’ont divisé en trois secteurs plus ou moins
homogènes d’inégale importance.

				  
			 
			
</p>
			  
			  
			    <p><ol>
						<li>La Haute Casbah, la plus grande partie, elle compte le plus grand nombre de
maisons dont la construction est antérieure à 1830.</li>
						<li>La Basse Casbah, proche de la mer, la zone la plus commerçante. Elle a été la plus
convoitée et a donc subi une grande partie des transformations. Elle concentre
la majeure partie des immeubles dits coloniaux.</li>
						<li>Le quartier du port, où seul un petit îlot de maisons anciennes, dans un état de
délabrement avancé, et deux mosquées classées témoignent encore des anciennes
limites de la ville qui s’étendaient jusqu’à la mer.</li>
					</ol></p>
			
			  
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture et Casbah</h3>
			  <p>La casbah, c’est 1700 maisons, dont 1200 de type traditionnel avec 60 000 habitants. 90% des
bâtisses sont des biens privés.</p>
			  
			  <div class="container hidden-div" id="div23">
			    <p>Néanmoins avec les nombreuses dégradations du temps qu’a subit la
Casbah, des rénovations s’imposent. Surtout du fait que la Casbah se situe dans une zone sismique,
on a recensé en effet, 30 secousses entre le 14 e et 19 e siècle. Surtout celui de 1716 qui fit plus de
20 000 victimes et manquât de détruire toute la zone.
Aussi, la médina s’étend sur une surface de 60ha pour 45 ha de bâti. La majorité des habitations
possèdent un puit personnel.

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/puit.jpg" >

					<h4>COMPOSANTES ARCHITECTURALE</h4>
					<ol>
						<li>Rue : Certains ont dit que « Les éléments en reliefs traduisent naïvement le plan de la
maison », c’est ainsi que les façades des rues de la Casbah en se joignant, reflètent
cohésion et stabilité.
<img class="monum img-responsive img-responsive" src="img/monuments/casbah/rue.jpg" >
</li>
						<li>Plan typique des maisons de la casbah</li>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/1.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/2.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/3.jpg" ></p>
						<p style="float: left;  text-align: center; width: 40%; margin-right: 1%; margin-bottom: 0.5em;">
							<img class="mo img-responsive img-responsive" src="img/monuments/casbah/4.jpg" ></p>
						
						<img class="mo img-responsive img-responsive" src="img/monuments/casbah/5.jpg" >
						
						
						
						
						
						<li>Maisons : Les maisons de la Casbah ont la caractéristique d’être des maisons de patio,
cela s’explique par le mode de vie des habitants. Généralement on rentre dans une
maison en passant sous un arc de pierre avant de traverser un couloir dit « skiffa »

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/sqifa.jpg" >


avant de débarquer dans le patio aussi appelé « Wast Ed Dar ». 

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/wast.jpg" >

Et de chaque côté de la cour extérieur on retrouve des pièces dites « Chorfa ».
On désigne d’ailleurs les pièces du premier étage par « Fouqani » et celle du niveau
inférieur par « Sefkani ». Une maison traditionnelle compte toujours deux niveaux. En
montant, on tombe sur une terasse dite « Minzah » donnant généralement sur la mer

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/terrasse.jpg" >

servant de lieu de relaxation, repos.
Ainsi que ce soit un palais ou une modeste demeure, toutes les habitations de la
Casbah suivent ce schéma. Avec bien évidemment des décorations plus élaborées
selon les niveaux de vie, une fontaine en plus au centre du patio par exemple pour les
palais.

<img class="monum img-responsive img-responsive" src="img/monuments/casbah/fontaine.jpg" >

Aussi annexée à la grande maison peut se trouver une maisonnette que l’on nomme
« Dwera », connectée à la demeure principale par une porte. C’était généralement le
lieu de résidence des serviteurs, du fils aîné ou des maîtresses.</li>
				
					
						
					</ol>

					
			    
			    
			    
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div23');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  
			  
			  
			  <div class="container hidden-div" id="div24">
			    <p>Test d'apparition 4</p>
				
			  </div>
			  <p></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
	
		<!-- FIRST -->
		<div id="offcanvas-1" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Dar Khedaoudj el Amia</h2>
			<p>Le Musée National des Arts et Traditions Populaire se trouve dans la vieille ville d’Alger, la Casbah. Il
se situe plus précisément dans la partie basse de la casbah dans le quartier de Souk-el- Djmâa.
Cette belle demeure remplie de légendes et de mythes, se veut comme lien entre les différentes
générations, afin que perdure et se transmette, la flamboyante culture et histoire de la Casbah
d’Alger. </p>
<img class="monu img-responsive img-responsive" src="img/monuments/el_amia/el_amia_musee.jpg" >

		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Histoire</h3>
			  <p>Le musée est abrité dans l’enceinte d’un ancien palais construit dans le courant des années 1570
sous l’empire Ottoman. Portant le nom de Dar Khedaoudj el Amia aussi dit « le palais de Khedaoudj
l&#39;aveugle ».</p>
			  
			  <div class="container hidden-div" id="div31">
			    <p>
					<h4>Autour de son nom...</h4>
					
					L’édifice aux allures de grande demeure reste encore à travers des générations, lié à la légende de
son ancienne propriétaire qui lui conféra son nom.
La légende raconte que Khedaoudj, une princesse ottomane, un jour reçu de la part d’Hassan
KHaznadji le trésorier du dey Hussein son père, un miroir qu’il s’était procuré lors de ses voyages.
Le miroir bien que simplet, devint le compagnon favori de la princesse et c’est avec lui qu’elle passa
ses journées. Elle se contemplait sans cesse, en changeant maintes fois de tenues et de coiffures. On
disait de Khedaoudj qu’elle était d’une beauté incomparable. Au fur et à mesure que les jours
passèrent, la princesse se trouvait de plus en plus belle et son narcissisme grandissait mais la douleur
à ses yeux également.
Et un jour la princesse au lieu de voir son reflet dans le miroir n’y vit que le vide et la noirceur totale.
Elle avait perdu la vue. C’est donc son amour pour sa réflexion qui l’avait rendu aveugle dit-on. D’où « le
palais de Khedaoudj l&#39;aveugle », que le père de la princesse fit construire afin de la protéger du reste
du monde.
On peut noter qu’il existe une autre version de la légende plus prosaïque qui raconte que la cécité de
la princesse serait due au khôl, poudre minérale utilisée dans les cosmétiques autrefois pour
souligner le contour de l’œil. Cette poudre aurait en effet, infecté son œil jusqu’à lui faire perdre la
vue. Cas très fréquent du fait de la présence de sulfure de plomb dans le khôl.</p>
			    
			    <p>
			    <h4>Autour de ses nombreux propriétaires …</h4>
			    
			    Passant de propriétaires en propriétaires au fil des années, l’invasion française de l’Algérie en 1830
mit fin à ce cercle.

En effet, cette même année, les propriétaires des lieux sont délogés et le palais devient le siège de la
toute première mairie française à Alger. S’en suit des modifications architecturales, notamment au
niveau de la partie ouest.
Mais à partir de 1860, Napoléon III s’éprend du somptueux palais et décide d’y élire résidence avec
sa femme Eugénie, lors de tous ses passages en Algérie.
En 1947, le palais est une nouvelle fois modifié pour servir de lieu de conservation de l’artisanat. Puis
en 1961, il devient le musée des arts traditionnels et salon permanent pour les ateliers d’artisanat et
métiers anciens.
Pour enfin en 1987, devenir le musée national des arts et traditions populaires que nous connaissons
aujourd’hui.</p>

				
			    
			    </p>
				
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div31');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>Jusqu’à nos jours et en dépit des nombreuses rénovations et modifications qu’a connu le palais, ce
dernier réussi à conserver un cachet architectural fort et authentique.</p>
			  
			  <div class="container hidden-div" id="div32">
			    <p>
					<ol>
						<li>Portail en bois sculpté imposant</li>
						<li>Vestibule nommé « skifa »</li>
						<li>Colonnes en marbre torsadé</li>
						<li>Arcades ornées de faïences aux couleurs gaies « zelaidj »</li>
						<img class="monum img-responsive" src="img/monuments/el_amia/patio.jpg" >
						<li>Chambre aux murs richement décorés laissant transparaitre l’art mauresque raffiné et le
niveau artistique et le faste qui a caractérisé l’époque ottomane</li>
<img class="monum img-responsive" src="img/monuments/el_amia/coffre.jpg" >
<li>Escalier surmonté d’une coupole</li>
<img class="monum img-responsive" src="img/monuments/el_amia/escalier.jpg" >
<li>Au dernier étage il y a le « mezah » aussi dit terrasse donnant sur la façade maritime</li>
<li>Bains / salle d’eau</li>
<li>Cuisine</li>
<li>Patio à cour carrée qui dessert quatre salle dont une re-décorée en 1860 et possède un beau
plafond ouvragé (étage 1)</li>
<li>Etage 2 = grand salon crée en 1860 pour les réceptions</li>
<li>Bassin d’eau</li>
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div32');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Les objets exposés </h3>
			  <p>C’est grâce aux efforts de sociologues, architectes, fonctionnaires, chercheurs dans le domaine du
patrimoine et de dons des citoyens, des institutions que le musée s’est rempli de nouveau.
Les pièces exposées dans le musée témoignent du savoir-faire algérien à travers les âges.
On y retrouve notamment :</p>
			  
			  <div class="container hidden-div" id="div33">
			    <p>Des pièces anciennes et précieuses, des meubles, des travaux de tissages, de dinanderie de
différentes régions du pays. Aussi on y retrouve des produits d’artisanat targuis et kabyles des
meubles algérois, des bijoux de Tlemcen, des tapis d’Adrar, des tissus d’ameublement tissés en fils de
soie du M’zab et des pièces des Aurès. Egalement de riches collections artisanales d’anciennes
tapisseries ainsi qu’un lit d&#39;apparat ottoman. 

<img class="monum img-responsive" src="img/monuments/el_amia/lit.jpg" >

S’y ajoutent des ustensiles de cuisine ainsi que des
tenues d’époque.
La pièce centrale du musée est par ailleurs, consacrée à une collection de miroirs d’époque
minutieusement travaillés et ornés qui sont non sans rappeler, ceux de la jadis princesse de ce palais.</p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div33');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Informations utiles </h3>
			  <p>Nous vous conseillons de placer ce musée au début de votre parcours visite, les horaires d’ouverture
et de fermeture étant relativement tôt.</p>
			  
			  <div class="container hidden-div" id="div34">
			    <p>
					<ol>
						<li>Adresse : 9, rue Mohamed Akli Malek, Souk El Jemaâ, Basse Casbah, Casbah, 16000, Alger, Algérie.</li>
						<li>Téléphone : +213 021 43 99 08</li>
						<li>Dates d’ouverture : Du 18 avril au 30 octobre, le musée est ouvert du samedi au jeudi, de 10h à
17h45. Du 2 novembre au 17 avril, le musée est ouvert du samedi au jeudi, de 8h30 à 16h15.</li>
<li>Tarif : Le ticket d&#39;entrée pour adultes coûte 200 dinars = 1.46 euros
L&#39;entrée est gratuite pour les enfants.</li>
<li>Langue : les explications sont majoritairement en anglais</li>
<li>Email : contact@mnatp-algerie.org</li>
<li>Page Facebook : https://www.facebook.com/mnatpDZ</li>
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div34');">Voir plus >></a></p>
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span-->
		
		<!-- SECOND -->
		
		<div id="offcanvas-2" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Mosquée Ketchaoua</h2>
			<p>La mosquée Ketchaoua a été construite en 1436 par la tribu Rebai, elle se situe au niveau de la basse
Casbah.
Elle siège au milieu d’un quartier commercial très dynamique où on peut trouver un souk regorgeant
de multiples produits.
Son édifice reflète l’histoire de la ville d’Alger, à travers notamment les différents styles
architecturaux qu’elle a adopté.</p>
<img class="monu img-responsive img-responsive" src="img/monuments/ketchaoua/facade.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>HIstoire</h3>
			  <p>La mosquée Ketchaoua est caractérisée par ses nombreuses phases de construction et de démolition.</p>
			  
			  
			    <p>En effet, elle s’effondre 2 siècles après sa construction en 1436 et est reconstruite en 1613 avant de
s’écrouler de nouveau.
Elle finit par être reconstruite une nouvelle fois en 1794 sous le gouvernement d’Hassan Pacha,
Gouverneur de la Régence d&#39;Alger.
Néanmoins, après la colonisation de l’Algérie par la France en 1830, la mosquée est une nouvelle fois
détruite un an après la conquête du territoire. Avant d’être encore reconstruite et cela sur une
surface 5 fois supérieure à son ancienne superficie. Il faut noter qu’au moment de la reconstruction,
la mosquée devient sous l’influence française la cathédrale Saint-Philippe.  
Lors de l’indépendance du pays en 1962, l’édifice retrouve sa fonction d’origine de mosquée et
s’inscrit au patrimoine mondial de l’UNESCO au même moment que la Casbah.</p>
				
			  
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>Du fait de son passé de cathédrale, l’architecture de la mosquée Ketchaoua est empreinte d’un style
très européen.</p>
			  
			  <div class="container hidden-div" id="div42">
			    <p>Malgré cela, les autorités française au moment de sa construction ont voulu un aspect romano-
byzantin ainsi qu’une touche turco-arabe pour l’ancienne cathédrale afin que le bâtiment se fonde
dans le décor de la ville.
Ainsi, on remarque également la forme basilicale en longueur du plan de l’édifice, caractéristique de
l’architecture chrétienne. Avec notamment une nef centrale ample, une voûte etc.
De l’extérieur, on peut observer une certaine ressemblance avec les églises gothiques du fait de la
symétrie des tours extérieures surplombant l’entrée de la mosquée.</p>

						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/ornement.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/porche.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/porte.jpg" >
						
							<img class="monum img-responsive" src="img/monuments/ketchaoua/face.jpg" >
							
							<img class="monum img-responsive" src="img/monuments/ketchaoua/devant.jpg" >
							
							
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div42');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Informations utiles</h3>
			  <p>La mosquée Ketchaoua est visitable en dehors des heures de prières.</p>
			  
			  <div class="container hidden-div" id="div43">
			 
				
			  </div>
			  
			</div><!--/span-->
			<div class="col-12">
			 
			  
			  
			  <div class="container hidden-div" id="div44">
			    <p>Test d'apparition 4</p>
				
			  </div>
			  
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span--> 
		
		<!-- TROISIEME -->
		<div id="offcanvas-3" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
			<h2>Palais des Rais</h2>
			<p>Le palais des Raïs, situé dans la basse Casbah, témoigne du dernier rempart de la médina algérienne
avant la mer. Symbole d’une histoire, d’une architecture et d’un savoir restauré pour les générations
à venir.
Il est construit en 1576 par le Dey Ramdhan Pacha durant l’ère Ottomane, dans le but de renforcer la
défense de la Casbah. On l’appelle ainsi Bastion 23 suite à la mise en place des remparts ; mais aussi
« Quaâ Es Sour  » soit le fond du rempart, et « Sabaâ » les sept tavernes.</p>
<img class="monu img-responsive" src="img/monuments/23/mer.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Organisation du bastion 23</h3>
			  <p>Le palais regroupe en son sein, trois autres palais, les palais 17, 18 et 23.</p>
			  
			  <div class="container hidden-div" id="div51">
			    <p>Numéros  attribués par
l’administration française de l’époque lors du recensement des propriétés immobilières (cadastre).
Il comprend aussi, 6 douérates qui sont les demeures des pêcheurs (maisons 5, 7, 9, 11, 13,15).
<img class="monum img-responsive" src="img/monuments/23/house_fish.jpg" >
Donc la 15 fait office de salle de prière « Moussalah ». 
<img class="monum img-responsive" src="img/monuments/23/prey_15.jpg" >
Cela représente 7824 m² de surface totale.
Les multiples bâtiments qui composent le bastion 23 accueillent des bibliothèques, salles d’archives,
Musées etc.
Le bastion 23 est classé en 1906 monument historique sous le nom de « groupe de maisons
mauresques » du fait de sa particularité architecturale. Et rentre en 1992 au patrimoine universel de
l’UNESCO.
<img class="monum img-responsive" src="img/monuments/23/lamp_23.jpg" >
On peut noter la singularité de la situation géographique du palais. En effet, il se situe au carrefour
de nombreux passages incontournables du quartier, est proche des transports, parking. Ce qui lui
permet un afflux continu de visiteurs.
<img class="monum img-responsive" src="img/monuments/23/ruelle_fish.jpg" >
</p>
				
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div51');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Histoire et Anecdotes</h3>
			  <p>Durant l’occupation française, soit après 1830, le palais 18 devient la résidence du contre-amiral en
charge de la gestion du port, puis un pensionnat pour jeunes filles et enfin, il fit office de consulat
pour les Etats Unis avant de devenir la demeure du Duc d’Aumale, et finalement bibliothèque
nationale.</p>
			  
			  <div class="container hidden-div" id="div52">
			    <p>Dans les années 1962, après l’indépendance, le palais se retrouve à l’abandon et de nombreuses
familles algéroises finissent par squatter, endommageant donc la structure du bâtiment. Sans
compter l’effet néfaste de la mer et de la pluie sur les fondations du palais.
En proie d’un effondrement imminent, le palais 18 est sauvé in extremis par le ministère de la culture
algérien et entame en 1980 un processus de réhabilitation du site historique qui devient d’ailleurs en
1994, le Centre des arts et de la culture. 
<img class="monum img-responsive" src="img/monuments/23/patio_18.jpg" >
Musée qui propose au long de l’année, de nombreuses
expositions temporaires ainsi que des spectacles sur sa terrasse ouverte face à la mer.
Les palais 17 et 23 moins somptueux, auparavant destinés aux domestiques accueillent maintenant
des expositions de photos, statues, peintures d’artistes locaux et du monde entier.</p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div52');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>Afin de plonger le visiteur dans l’ambiance des grands palais ottomans, sont exposés des
photographies de scènes quotidiennes, de lieux emblématiques de la Casbah ainsi que des
maquettes du quartier.</p>
			  
			  <div class="container hidden-div" id="div53">
			    <p>
					<ol>
						<li>patio (wast eddar)</li>
						<img class="monum img-responsive" src="img/monuments/23/patio_17.jpg" >
						<li>les galeries (shine)</li>
						<li>les pièces (byoutes au rez-de- chaussée et ghrofs à l&#39;étage)</li>
						<img class="monum img-responsive" src="img/monuments/23/chambre_18.jpg" >
						<li>la salle de bains (hammam)</li>
						<li>la cuisine (khiama)</li>
						<li>la terrasse (menzah)</li>
						<li>arcs</li>
						<li>colonne en marbre</li>
						<li>portes en bois</li>
						<li>carreaux à faïences</li>
						<li>plafonds caractéristiques de l’art mauresque</li>
						<img class="monum img-responsive" src="img/monuments/23/plafond_23.jpg" >
					</ol>
			    
			    </p>
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div53');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Informations utiles</h3>
			  <p>Le palais ouvre ses portes tous les jours de 9h à 17h, tous les jours de la semaine.
Au tarif de 200 dinars par personne, soit 1,46 euros.
Il est conseillé de commencer la visite par le palais 18.</p>
			  
			  
			    <p>+213 21 43 98 44</p>
<p>Adresse : 23, boulevard Amara Rachid
Entre l&#39;Amirauté et la Pointe El Kettanti, près de la DGSN
ALGER</p>
				
			</div><!--/span--> 
		  
		  </div><!--/row-->
		</div><!--/span--> 
		
		<!-- QUATRIEME -->
		<div id="offcanvas-4" class="col-12 col-md-9 offcanvas-dynamic-content">
		  <p class="float-right d-md-none ">
			<button type="button" class="btn btn-danger btn-sm" data-toggle="offcanvas">Voir catégories</button>
		  </p>
		  <div class="jumbotron">
		  <h2>Djamâa El Kebir</h2>
			<p>Pendant longtemps considéré comme la plus grande mosquée d’Alger, le Djamâa el Kebir se situe
dans la partie basse de la Casbah et figure au patrimoine de l’UNESCO depuis 1992.
C’est une des plus anciennes mosquées de la ville d’Alger, bâtie en 1097 à l’époque médiévale par
l’émir Youssef Ibn Tachfin (1061-1106), un Almovide.</p>
<img class="monu img-responsive" src="img/monuments/kebir/mosq.jpg" >
		  </div>
		  <div class="row">
			<div class="col-12">
			  <h3>Histoire</h3>
			  <p>La mosquée possède une vue impressionnante sur la baie d’Alger et est un des derniers vestiges de la
grandeur de la dynastie berbère sanhajienne des Almoravides. Dynatie qui a étendu son influence de
l’Espagne au fleuve Sénégal entre 1040 et 1147.</p>
			  
			  <div class="container hidden-div" id="div61">
			    <p>Djamâa el Kebir est ainsi restée au fil des générations, un symbole de l’islam tolérant que voulait
véhiculer l’empire Almoravides dans la région du Maghreb.

Diverses inscriptions figurent sur l’édifice religieux :</p>
<p>Sur le minbar en graphique kufique, par exemple on peut lire :</p>
<p>
بسم الله الرحمن الرحيم أتم هذا المنبر في أول شهر رجب من سنة تسعين وأربعمائة. الذي عمل محمد

</p>
<p>Qui signifie :</p>

<p>«  Au nom d’Allâh, le Clément, le Miséricordieux. Cette chaire a été achevée le premier du mois de

Rajab de l’année 490. Œuvre de Muhammad. »</p>

<p>Et près de l’entrée du minaret sur une plaque de marbre blanc, on peut retrouver l’inscription
suivante :</p>
<p>

بسم الله الرحمن الرحيم، صلى الله على سيدنا محمد لما تمم أمير المسلمين أبو تاشفين أيده الله ونصره منار
الجزائر في مدة أولها يوم الأحد السابع عشر من ذي القعدة من عام اثنين وعشرين وسبعمائة وكان تمامها
في كمالها في غرة رجب عام ثلاثة وعشرين وسبعمائة ناد المنار المذكور بلسان حاله الحالي&quot; أي منار
حاله الحسن كحالي أقام أمير المسلمين تفاحا كساني بها حسنا وتمم بنياني وقابلني بدر السماء وقال لي
عليك سلامي أيها القمر الثاني فلا منظر يسبي نفوسا كمنظري ألا فانظروا حسني وبهجة تيجاني فزاد
نصر الله حول لوائه رفيقا له تال وجيشا له ثاني

</p>
<p>Voulant dire :</p>

<p>« Au nom d’Allâh le Clément le Miséricordieux, qu’Allâh bénisse notre prophète Muhammad ! Lorsque
le prince des musulmans Abû Tâshufîn (qu’Allâh le fortifie et l’assiste) eu achevé le minaret d’Alger en
un laps de temps qui commence le dimanche 17 dhil Qi’da de l’an sept cent vingt-deux, se termine et
s’achève le premier du mois du rajab de l’an sept cent vingt-trois, le minaret susdit, s’écria dans la
langue (muette) à propos de sa situation actuelle : « Où existe-t- il un minaret à la beauté comparable
à la mienne ? Le prince des musulmans a dressé des pommes dont il m’a revêtu pour m’embellir et a
complété ma construction. »</p>
				
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div61');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Architecture</h3>
			  <p>L’architecture de Djamâa el Kebir est empreinte d’une simplicité qui la différencie des autres
moquées d’Alger, aux caractéristiques ottomanes poussées.
Elle est principalement construite à l’aide de brique, pierre, tuile, avec pour base une charpente en
bois.
On peut noter une ressemblance avec le minbar de l’Université Al Quaraouiyine de Fès et de la
mosquée de Kairouan en Tunisie.</p>
			  
			  <div class="container hidden-div" id="div62">
			    <p>
					<ol>
						<li>Salle de prière</li>
						<li>Décor en céramique</li>
						<li>Mihrab</li>
						<li>Minbar</li>
						<li>Arcs outrepassés brisés</li>
						<li>Présence d’un système de rails au sol permettant de déplacer le minbar (plus ancien
d’Algérie) de la réserve à la salle de prière. Ce dernier se trouvant actuellement au Musée
National des Antiquités et des Arts islamiques.</li>
						<li>Galerie extérieure</li>
						
					</ol>
			    
			    D’ailleurs on peut préciser que la galerie extérieure n’est pas d’origine et n’a été ajoutée qu’en 1836.
Ses colonnes de marbre venant d’une autre mosquée qui se situait auparavant à la place des martyrs
mais qui a été détruite en 1830, la mosquée Es Sayida.
			    
			    </p>
			    <img class="monum img-responsive" src="img/monuments/kebir/galerie.jpg" >
				
			  </div>
			  <p><a class="btn btn-secondary my_button" role="button" onclick="develop(this, 'div62');">Voir plus >></a></p>
			</div><!--/span-->
			<div class="col-12">
			  <h3>Informations utiles</h3>
			  <p>La mosquée peut être visitée tout au long de la journée en dehors des heures de prière.</p>
			  
			  <div class="container hidden-div" id="div63">
			    <p>Test d'apparition 3</p>
				
			  </div>
			  
			</div><!--/span-->
			<div class="col-12">
			 
			  
			  
			  <div class="container hidden-div" id="div64">
			    <p>Test d'apparition 4</p>
				
			  </div>
			  
			</div><!--/span-->  
		  
		  </div><!--/row-->
		</div><!--/span-->

		<div class="col-6 col-md-3 sidebar-offcanvas" id="sidebar">
		  <div class="list-group">
			<a href="#" class="list-group-item dynam active" onclick="clickChoice('#');">Alger en pratique</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#casbah');">Casbah</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o1');">Dar Khedaoudj el Amia</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o2');">Mosquée Ketchaoua</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o3');">Bastion 23</a>
			<a href="#" class="list-group-item dynam" onclick="clickChoice('#o4');">Djamâa El Kebir</a>
		  </div>
		</div><!--/span-->
	  </div><!--/row-->

	
	</div>
	<hr>
    
	<!-- Menu Circulaire -->
    <div id='piemenu' class="radial" data-wheelnav
         data-wheelnav-slicepath='DonutSlice'
         data-wheelnav-spreader data-wheelnav-spreaderpath='PieSpreader'
         data-wheelnav-rotateoff
         data-wheelnav-navangle='270'
         data-wheelnav-cssmode 
         data-wheelnav-init>
          <div data-wheelnav-navitemtext='A visiter' onmouseup='window.location.href = "monuments.php";' ></div>
          <div data-wheelnav-navitemtext='Carte' onmouseup='window.location.href = "carte.php";'></div>
          <div data-wheelnav-navitemtext='A propos' onmouseup='window.location.href = "a_propos.php";'></div>
          <div data-wheelnav-navitemtext='Photos' onmouseup='window.location.href = "photos.php";'></div>
    </div>
